<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".KfinOneApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/FullscreenTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".EnhancedLoginActivity"
            android:exported="true"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".EmployeeDetailsActivity"
            android:exported="false"
            android:label="Add User Details"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".AddEmpDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ActiveEmpListActivity"
            android:exported="false"
            android:parentActivityName=".EmpMasterActivity" />
        <activity
            android:name=".EmpMasterActivity"
            android:exported="false" />
        <activity
            android:name=".InactiveEmpListActivity"
            android:exported="false"
            android:parentActivityName=".EmpMasterActivity" />
        <activity
            android:name=".EmpDepartmentActivity"
            android:exported="false"
            android:parentActivityName=".EmpMasterActivity" />
        <activity
            android:name=".EmpDesignationActivity"
            android:exported="false"
            android:parentActivityName=".EmpMasterActivity" />
        <activity android:name=".LocationMasterActivity" />
        <activity android:name=".StateActivity" />
        <activity android:name=".LocationActivity" />
        <activity android:name=".SubLocationActivity" />
        <activity android:name=".PincodeActivity" />
        <activity android:name=".BranchStateActivity" />
        <activity android:name=".BranchLocationActivity" />
        <activity android:name=".SdsaMasterActivity" />
        <activity android:name=".AddSdsaActivity" />
        <activity
            android:name=".ActiveSdsaListActivity"
            android:exported="false"
            android:parentActivityName=".SdsaMasterActivity" />
        <activity
            android:name=".InactiveSdsaListActivity"
            android:exported="false"
            android:parentActivityName=".SdsaMasterActivity" />
        <activity
            android:name=".DsaCodeMasterActivity"
            android:exported="false" />
        <activity
            android:name=".AddDsaActivity"
            android:exported="false"
            android:parentActivityName=".DsaCodeMasterActivity" />
        <activity 
            android:name=".DsaListActivity"
            android:exported="false"
            android:parentActivityName=".DsaCodeMasterActivity" />
        <activity 
            android:name=".BankMasterActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".BanksActivity"
            android:exported="false"
            android:parentActivityName=".BankMasterActivity" />
        <activity 
            android:name=".VendorBanksActivity"
            android:exported="false"
            android:parentActivityName=".BankMasterActivity" />
        <activity 
            android:name=".AccountTypeActivity"
            android:exported="false"
            android:parentActivityName=".BankMasterActivity" />
        <activity 
            android:name=".BankersDesignationActivity"
            android:exported="false"
            android:parentActivityName=".BankMasterActivity" />
        <activity 
            android:name=".EmpLinksActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".EmpManageActivity"
            android:exported="false"
            android:parentActivityName=".EmpLinksActivity" />
        <activity 
            android:name=".AddIconsActivity"
            android:exported="false"
            android:parentActivityName=".EmpManageActivity" />
        <activity 
            android:name=".AddWorkIconsActivity"
            android:exported="false"
            android:parentActivityName=".EmpWorkActivity" />
        <activity 
            android:name=".TeamLinksActivity"
            android:exported="false"
            android:parentActivityName=".EmpManageActivity" />
        <activity 
            android:name=".EmpDataActivity"
            android:exported="false"
            android:parentActivityName=".EmpLinksActivity" />
        <activity 
            android:name=".EmpWorkActivity"
            android:exported="false"
            android:parentActivityName=".EmpLinksActivity" />
        <activity android:name=".AgentMasterActivity" />
        <activity android:name=".CallingStatusActivity" />
        <activity android:name=".CallingSubStatusActivity" />
        <activity 
            android:name=".AgentActivity"
            android:exported="false"
            android:label="Agent"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity android:name=".MyAgentActivity" />
        <activity android:name=".TeamAgentActivity" />
        <activity android:name=".DsaNameActivity" />
        <activity android:name=".LoanTypeActivity" />
        <activity 
            android:name=".BankersActivity"
            android:exported="false"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".AddBankerActivity"
            android:exported="false"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".BankersActivity" />
        <activity 
            android:name=".BankerListActivity"
            android:exported="false"
            android:theme="@style/FullscreenTheme"
            android:parentActivityName=".BankersActivity" />
        <activity android:name=".PayoutActivity" />
        <activity android:name=".AccountActivity" />
        <activity
            android:name=".AgentListActivity"
            android:exported="false"
            android:label="Agent List" />
        <activity
            android:name=".PartnerMasterActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PartnerTypeActivity"
            android:exported="false"
            android:parentActivityName=".PartnerMasterActivity" />
        <activity
            android:name=".ActivePartnerListActivity"
            android:exported="false"
            android:parentActivityName=".PartnerMasterActivity" />
        <activity
            android:name=".CategoryActivity"
            android:exported="false"
            android:parentActivityName=".PayoutActivity" />
        <activity android:name=".PayoutTypeActivity" />
        <activity
            android:name=".AddPayoutActivity"
            android:exported="false"
            android:label="Add Payout"
            android:parentActivityName=".PayoutActivity" />
        <activity 
            android:name=".SuperAdminActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".SuperAdminCBOActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".SuperAdminRBHActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".SuperAdminBHEmpMasterActivity"
            android:exported="false"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".DirectorMyEmpActivity"
            android:exported="false"
            android:parentActivityName=".DirectorEmployeeActivity" />
        <activity 
            android:name=".DocumentUploadActivity"
            android:exported="false"
            android:label="Document Upload"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".PolicyActivity"
            android:exported="false"
            android:label="Policy" />
        <activity
            android:name=".SpecialPanelActivity"
            android:exported="false"
            android:label="Special Panel" />
        <activity
            android:name=".User10002PanelActivity"
            android:exported="false"
            android:label="Enhanced Dashboard" />
        <activity
            android:name=".EmployeePanelActivity"
            android:exported="false"
            android:label="Employee Management" />
        <activity
            android:name=".MyEmpActivity"
            android:exported="false"
            android:label="My Emp" />
        <activity
            android:name=".EmpTeamActivity"
            android:exported="false"
            android:label="Employee Team" />
        <activity
            android:name=".SdsaPanelActivity"
            android:exported="false"
            android:label="SDSA Management" />
        <activity
            android:name=".MySdsaActivity"
            android:exported="false"
            android:label="My SDSA" />
        <activity
            android:name=".SdsaTeamActivity"
            android:exported="false"
            android:label="SDSA Team" />
        <activity
            android:name=".PartnerPanelActivity"
            android:exported="false"
            android:label="Partner Panel" />
        <activity
            android:name=".ManagingDirectorPartnerPanelActivity"
            android:exported="false"
            android:label="Partner Panel"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".ManagingDirectorPartnerMasterActivity"
            android:exported="false"
            android:label="Partner Master"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".ManagingDirectorPayoutPanelActivity"
            android:exported="false"
            android:label="Payout Management"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".BranchFullPayoutActivity"
            android:exported="false"
            android:label="Branch/Full Payout"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".ServicePartnerPayoutActivity"
            android:exported="false"
            android:label="Service/Partner Payout"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".LeadBaseAgentPayoutActivity"
            android:exported="false"
            android:label="Lead Base/Agent Payout"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".ConnectorReferralPayoutActivity"
            android:exported="false"
            android:label="Connector/Referral Payout"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".InterBranchPayoutActivity"
            android:exported="false"
            android:label="Inter Branch Payout"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".RBHPayoutActivity"
            android:exported="false"
            android:label="RBH Payout"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".PayoutTeamActivity"
            android:exported="false"
            android:label="Payout Team"
            android:parentActivityName=".ManagingDirectorPayoutPanelActivity" />
        <activity
            android:name=".AddPartnerActivity"
            android:exported="false"
            android:label="Add Partner"
            android:parentActivityName=".PartnerPanelActivity" />
        <activity
            android:name=".ManagingDirectorAddPartnerActivity"
            android:exported="false"
            android:label="Managing Director - Add Partner"
            android:parentActivityName=".ManagingDirectorPartnerMasterActivity" />
        <activity
            android:name=".MyPartnerActivity"
            android:exported="false"
            android:label="My Partners"
            android:parentActivityName=".PartnerPanelActivity" />
        <activity
            android:name=".ManagingDirectorMyPartnerUsersActivity"
            android:exported="false"
            android:label="My Partner Users"
            android:parentActivityName=".ManagingDirectorPartnerPanelActivity" />
        <activity
            android:name=".ManagingDirectorPartnersTeamActivity"
            android:exported="false"
            android:label="Partners Team"
            android:parentActivityName=".ManagingDirectorPartnerPanelActivity" />
        <activity
            android:name=".PartnerTeamActivity"
            android:exported="false"
            android:label="Partner Teams"
            android:parentActivityName=".PartnerPanelActivity" />
        <activity
            android:name=".PartnerInactiveActivity"
            android:exported="false"
            android:label="Partner Inactive"
            android:parentActivityName=".PartnerPanelActivity" />
        <activity
            android:name=".AddAgentActivity"
            android:exported="false"
            android:label="Add Agent Details"
            android:parentActivityName=".HomeActivity" />
        <activity 
            android:name=".MoreActivity"
            android:exported="false"
            android:label="More Options"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".DsaCodeListActivity"
            android:exported="false"
            android:label="DSA Code List"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".BankersPanelActivity"
            android:exported="false"
            android:label="Bankers Management"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".AddBankerPanelActivity"
            android:exported="false"
            android:label="Add Banker"
            android:parentActivityName=".BankersPanelActivity" />
        <activity
            android:name=".PortfolioPanelActivity"
            android:exported="false"
            android:label="Portfolio Management"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".AddPortfolioActivity"
            android:exported="false"
            android:label="Add Portfolio"
            android:parentActivityName=".PortfolioPanelActivity" />
        <activity
            android:name=".MyPortfolioActivity"
            android:exported="false"
            android:label="My Portfolio"
            android:parentActivityName=".PortfolioPanelActivity" />
        <activity
            android:name=".PortfolioTeamActivity"
            android:exported="false"
            android:label="Portfolio Team"
            android:parentActivityName=".PortfolioPanelActivity" />
        <activity
            android:name=".InsurancePanelActivity"
            android:exported="false"
            android:label="Insurance Management"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".AddInsuranceActivity"
            android:exported="false"
            android:label="Add Insurance"
            android:parentActivityName=".InsurancePanelActivity" />
        <activity
            android:name=".MyInsuranceActivity"
            android:exported="false"
            android:label="My Insurance"
            android:parentActivityName=".InsurancePanelActivity" />
        <activity
            android:name=".InsuranceTeamActivity"
            android:exported="false"
            android:label="Insurance Team"
            android:parentActivityName=".InsurancePanelActivity" />
        <activity
            android:name=".DocCheckListActivity"
            android:exported="false"
            android:label="Document Check List"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".DataLinksActivity"
            android:exported="false"
            android:label="Data Links"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".MyDataLinksActivity"
            android:exported="false"
            android:label="My Data Links"
            android:parentActivityName=".DataLinksActivity" />
        <activity
            android:name=".WorkLinksActivity"
            android:exported="false"
            android:label="Work Links"
            android:parentActivityName=".SpecialPanelActivity" />
        <activity
            android:name=".MyWorkLinksActivity"
            android:exported="false"
            android:label="My Work Links"
            android:parentActivityName=".WorkLinksActivity" />
        <activity
            android:name=".ManageIconPermissionActivity"
            android:exported="false"
            android:label="Manage Icon Permissions"
            android:parentActivityName=".ActiveEmpListActivity" />
        <activity
            android:name=".DataIconPermissionActivity"
            android:exported="false"
            android:label="Data Icon Permissions"
            android:parentActivityName=".ActiveEmpListActivity" />
        <activity
            android:name=".WorkIconPermissionActivity"
            android:exported="false"
            android:label="Work Icon Permissions"
            android:parentActivityName=".ActiveEmpListActivity" />
        <activity
            android:name=".MyEmpLinksActivity"
            android:exported="false"
            android:label="My Emp Links"
            android:parentActivityName=".EmpLinksActivity" />
        <activity
            android:name=".TeamEmpLinksActivity"
            android:exported="false"
            android:label="Team Emp Links"
            android:parentActivityName=".EmpLinksActivity" />
        <activity
            android:name=".DirectorPartnerActivity"
            android:exported="false"
            android:label="Director Partner Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorPayoutActivity"
            android:exported="false"
            android:label="Director Payout Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorEmpLinksActivity"
            android:exported="false"
            android:label="Director Employee Links"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorDataLinksActivity"
            android:exported="false"
            android:label="Director Data Links"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorWorkLinksActivity"
            android:exported="false"
            android:label="Director Work Links"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorEmployeeActivity"
            android:exported="false"
            android:label="Director Employee Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorSdsaActivity"
            android:exported="false"
            android:label="Director SDSA Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorAgentActivity"
            android:exported="false"
            android:label="Director Agent Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorDsaCodeActivity"
            android:exported="false"
            android:label="Director DSA Code Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorBankersActivity"
            android:exported="false"
            android:label="Director Bankers Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorPortfolioActivity"
            android:exported="false"
            android:label="Director Portfolio Management"
            android:parentActivityName=".User10002PanelActivity" />
        <activity
            android:name=".DirectorMyEmpLinksActivity"
            android:exported="false"
            android:label="Director My Employee Links"
            android:parentActivityName=".DirectorEmpLinksActivity" />
        <activity
            android:name=".DirectorTeamEmpLinksActivity"
            android:exported="false"
            android:label="Director Team Employee Links"
            android:parentActivityName=".DirectorEmpLinksActivity" />
        <activity android:name=".DirectorMyAgentActivity" />
        <activity android:name=".DirectorMySdsaActivity" />
        <activity android:name=".DirectorSdsaTeamActivity" />
        <activity android:name=".DirectorSdsaTeamNewActivity" />
        <activity android:name=".DirectorAddAgentActivity" />
        <activity android:name=".DirectorInsurancePanelActivity" />
        <activity android:name=".DirectorAddInsuranceActivity" />
        <activity android:name=".DirectorMyInsuranceActivity" />
        <activity android:name=".DirectorAgentTeamActivity" />
        
        <!-- Chief Business Officer Activities -->
        <activity
            android:name=".ChiefBusinessOfficerPanelActivity"
            android:exported="false"
            android:label="Chief Business Officer Dashboard"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".CBOTeamActivity"
            android:exported="false"
            android:label="CBO Team Management"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOPortfolioActivity"
            android:exported="false"
            android:label="CBO Portfolio Management"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOReportsActivity"
            android:exported="false"
            android:label="CBO Reports &amp; Analytics"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOSettingsActivity"
            android:exported="false"
            android:label="CBO Settings"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOEmpLinksActivity"
            android:exported="false"
            android:label="CBO Employee Links"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOMyEmpLinksActivity"
            android:exported="false"
            android:label="CBO My Employee Links"
            android:parentActivityName=".CBOEmpLinksActivity" />
        <activity
            android:name=".CBOTeamEmpLinksActivity"
            android:exported="false"
            android:label="CBO Team Employee Links"
            android:parentActivityName=".CBOEmpLinksActivity" />
        <activity
            android:name=".CBODataLinksActivity"
            android:exported="false"
            android:label="CBO Data Links"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOMyDataLinksActivity"
            android:exported="false"
            android:label="CBO My Data Links"
            android:parentActivityName=".CBODataLinksActivity" />
        <activity
            android:name=".CBOTeamDataLinksActivity"
            android:exported="false"
            android:label="CBO Team Data Links"
            android:parentActivityName=".CBODataLinksActivity" />
        <activity
            android:name=".CBOWorkLinksActivity"
            android:exported="false"
            android:label="CBO Work Links"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOMyWorkLinksActivity"
            android:exported="false"
            android:label="CBO My Work Links"
            android:parentActivityName=".CBOWorkLinksActivity" />
        <activity
            android:name=".CBOTeamWorkLinksActivity"
            android:exported="false"
            android:label="CBO Team Work Links"
            android:parentActivityName=".CBOWorkLinksActivity" />
        <activity
            android:name=".CBOEmpMasterActivity"
            android:exported="false"
            android:label="CBO Employee Master"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOAddEmpActivity"
            android:exported="false"
            android:label="CBO Add Employee"
            android:parentActivityName=".CBOEmpMasterActivity" />
        <activity
            android:name=".CBOActiveEmpListActivity"
            android:exported="false"
            android:label="CBO Active Employee List" />
        <activity
            android:name=".CBOInactiveEmpListActivity"
            android:exported="false"
            android:label="CBO Inactive Employee List" />
        <activity
            android:name=".CBOEmployeeActivity"
            android:exported="false"
            android:label="CBO Employee"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOMyEmpActivity"
            android:exported="false"
            android:label="CBO My Employee"
            android:parentActivityName=".CBOEmployeeActivity" />
        <activity
            android:name=".CBOSdsaActivity"
            android:exported="false"
            android:label="CBO SDSA"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOMySdsaActivity"
            android:exported="false"
            android:label="CBO My SDSA"
            android:parentActivityName=".CBOSdsaActivity" />
        <activity
            android:name=".CBOTeamSdsaActivity"
            android:exported="false"
            android:label="CBO Team SDSA"
            android:parentActivityName=".CBOSdsaActivity" />
        <activity
            android:name=".CBOPartnerActivity"
            android:exported="false"
            android:label="CBO Partner"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOAddPartnerActivity"
            android:exported="false"
            android:label="CBO Add Partner"
            android:parentActivityName=".CBOPartnerActivity" />
        <activity
            android:name=".CBOMyPartnerActivity"
            android:exported="false"
            android:label="CBO My Partner"
            android:parentActivityName=".CBOPartnerActivity" />
        <activity
            android:name=".CBOPartnerTeamActivity"
            android:exported="false"
            android:label="CBO Partner Team"
            android:parentActivityName=".CBOPartnerActivity" />
        <activity
            android:name=".CBOAgentActivity"
            android:exported="false"
            android:label="CBO Agent"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOAddAgentActivity"
            android:exported="false"
            android:label="CBO Add Agent"
            android:parentActivityName=".CBOAgentActivity" />
        <activity
            android:name=".CBOMyAgentActivity"
            android:exported="false"
            android:label="CBO My Agent"
            android:parentActivityName=".CBOAgentActivity" />
        <activity
            android:name=".CBOAgentTeamActivity"
            android:exported="false"
            android:label="CBO Agent Team"
            android:parentActivityName=".CBOAgentActivity" />
        <activity
            android:name=".CBOPayoutPanelActivity"
            android:exported="false"
            android:label="CBO Payout Management"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOBankersPanelActivity"
            android:exported="false"
            android:label="CBO Bankers Management"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOPortfolioPanelActivity"
            android:exported="false"
            android:label="CBO Portfolio Management"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity
            android:name=".CBOInsurancePanelActivity"
            android:exported="false"
            android:label="CBO Insurance Management"
            android:parentActivityName=".ChiefBusinessOfficerPanelActivity" />
        <activity android:name=".CBODsaCodeActivity" />
        <activity android:name=".CBOBankersActivity" />
        <activity android:name=".CBOAddInsuranceActivity" />
        <activity android:name=".CBODocumentChecklistActivity" />
        <activity android:name=".CBOPolicyActivity" />
        
                          <!-- Business Head Activities -->
                  <activity
                      android:name=".BusinessHeadPanelActivity"
                      android:exported="false"
                      android:label="Business Head Dashboard"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".MyAccountPanelActivity"
                      android:exported="false"
                      android:label="My Account"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadDataLinksActivity"
                      android:exported="false"
                      android:label="Business Head Data Links"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadWorkLinksActivity"
                      android:exported="false"
                      android:label="Business Head Work Links"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadMyEmpLinksActivity"
                      android:exported="false"
                      android:label="Business Head My Emp Links"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadEmpMasterActivity"
                      android:exported="false"
                      android:label="Business Head Employee Master"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadAddEmpActivity"
                      android:exported="false"
                      android:label="Business Head Add Employee"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadActiveEmpListActivity"
                      android:exported="false"
                      android:label="Business Head Active Employee List"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadInactiveEmpListActivity"
                      android:exported="false"
                      android:label="Business Head Inactive Employee List"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadSdsaActivity"
                      android:exported="false"
                      android:label="Business Head SDSA"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadMySdsaActivity"
                      android:exported="false"
                      android:label="Business Head My SDSA"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadPartnerActivity"
                      android:exported="false"
                      android:label="Business Head Partner"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadAddPartnerActivity"
                      android:exported="false"
                      android:label="Business Head Add Partner"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadMyPartnerActivity"
                      android:exported="false"
                      android:label="Business Head My Partner"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadAgentActivity"
                      android:exported="false"
                      android:label="Business Head Agent"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadAddAgentActivity"
                      android:exported="false"
                      android:label="Business Head Add Agent"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadMyAgentActivity"
                      android:exported="false"
                      android:label="Business Head My Agent"
                      android:theme="@style/FullscreenTheme" />
                      
                  <!-- Business Head Portfolio Activities -->
                  <activity
                      android:name=".BusinessHeadPortfolioActivity"
                      android:exported="false"
                      android:label="Business Head Portfolio"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadAddPortfolioActivity"
                      android:exported="false"
                      android:label="Business Head Add Portfolio"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadMyPortfolioActivity"
                      android:exported="false"
                      android:label="Business Head My Portfolio"
                      android:theme="@style/FullscreenTheme" />
                      
                  <activity
                      android:name=".BusinessHeadPortfolioTeamActivity"
                      android:exported="false"
                      android:label="Business Head Portfolio Team"
                      android:theme="@style/FullscreenTheme" />
                      
                  <!-- Business Head Document Check List Activity -->
                  <activity
                      android:name=".BusinessHeadDocumentCheckListActivity"
                      android:exported="false"
                      android:label="Business Head Document Check List"
                      android:theme="@style/FullscreenTheme" />
                      
                  <!-- Business Head Policy Activity -->
                  <activity
                      android:name=".BusinessHeadPolicyActivity"
                      android:exported="false"
                      android:label="Business Head Policy"
                      android:theme="@style/FullscreenTheme" />
            
        <!-- Regional Business Head Activities -->
        <activity
            android:name=".RegionalBusinessHeadPanelActivity"
            android:exported="false"
            android:label="Regional Business Head Dashboard"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".RBHTeamActivity"
            android:exported="false"
            android:label="RBH Team Management"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHEmpLinksActivity"
            android:exported="false"
            android:label="RBH Employee Links"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHDataLinksActivity"
            android:exported="false"
            android:label="RBH Data Links"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHWorkLinksActivity"
            android:exported="false"
            android:label="RBH Work Links"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHEmpMasterActivity"
            android:exported="false"
            android:label="RBH Employee Master"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHEmployeeActivity"
            android:exported="false"
            android:label="RBH Employee"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHSdsaActivity"
            android:exported="false"
            android:label="RBH SDSA"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHPartnerActivity"
            android:exported="false"
            android:label="RBH Partner"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHAgentActivity"
            android:exported="false"
            android:label="RBH Agent"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHPayoutPanelActivity"
            android:exported="false"
            android:label="RBH Payout Management"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHBankersPanelActivity"
            android:exported="false"
            android:label="RBH Bankers Management"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHPortfolioPanelActivity"
            android:exported="false"
            android:label="RBH Portfolio Management"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHInsurancePanelActivity"
            android:exported="false"
            android:label="RBH Insurance Management"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHReportsActivity"
            android:exported="false"
            android:label="RBH Reports &amp; Analytics"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
        <activity
            android:name=".RBHSettingsActivity"
            android:exported="false"
            android:label="RBH Settings"
            android:parentActivityName=".RegionalBusinessHeadPanelActivity" />
            
        <!-- Managing Director Emp Links Activities -->
        <activity
            android:name=".ManagingDirectorEmpLinksActivity"
            android:exported="false"
            android:label="Managing Director Employee Links"
            android:parentActivityName=".SpecialPanelActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ManagingDirectorMyEmpLinksActivity"
            android:exported="false"
            android:label="My Employee Links"
            android:parentActivityName=".ManagingDirectorEmpLinksActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ManagingDirectorTeamEmpLinksActivity"
            android:exported="false"
            android:label="Team Employee Links"
            android:parentActivityName=".ManagingDirectorEmpLinksActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".ManagingDirectorEmpTeamActivity"
            android:exported="false"
            android:label="Managing Director Employee Team"
            android:parentActivityName=".EmployeePanelActivity"
            android:theme="@style/FullscreenTheme" />
    </application>

</manifest>